body {
    background-color: gray;
}

h1 {
    text-align: center;
}

h4 {
    margin: 0 0 8 0;
}

.page-block {
    width: 46%;
    margin: 0 1% 0 0;
    position: relative;
}

.left-block {
    float: left;
}

.right-block {
    float: right;

    > div {
        padding: 8 4 4 8;
    }
}

.stat-block {
    border: 5px ridge black;
    display: flow-root;

    > h3, p {
        margin: 0 0 5 0;
    }

    > div {
        display: flow-root;
    }
}

.improved-stat {
    color: lime;
    cursor: help;
}

#Player_Character_Level {
    width: 50px;
    text-align: center;
    margin: 0 20 10 0;
}

.Number-input {
    width: 30px;
    text-align: center;
    background-color: gray;
    color: lime;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

#Damage_Input {
    margin-right: 30px;
}