body {
    background-color: #1a1a1a;
    color: wheat;
}

h1 {
    text-align: center;
}

h3 {
    border-bottom: 2px solid silver;
}

h4 {
    margin: 0 0 8 0;
}

p {
    font-size: 18px;
}

.column {
    display: flow-root;
    padding: 5px;
    margin-bottom: 10px;
}

.page-block {
    max-width: 49%;
    margin: 0 1% 0 0;
    position: relative;
}

.left-block {
    float: left;
}

.right-block {
    float: right;

    > div {
        padding: 8 4 4 8;
    }
}

.stat-block {
    border: 5px ridge black;
    display: flow-root;

    > h3, p {
        margin: 0 0 5 0;
    }

    > div {
        display: flow-root;
    }
}

.improved-stat {
    color: lime;
    cursor: help;
}

.Dropdown-Box {
    width: 50px;
    text-align: center;
    margin: 0 20 10 0;
}

.Number-input {
    width: 30px;
    text-align: center;
    background-color: gray;
    color: lime;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

#Damage_Input {
    margin-right: 30px;
}

#Ferocity {
    color: darkred;
    width: 60px;
    font-size: 22px;
    margin-bottom: 12px;
}

.Ferocity-Group {
    text-align: center;

    > p {
        margin-bottom: 6px;
    }
}

#Rampage_Risk_Group {
    > p:first-child {
        font-size: 42px;
        color: darkred;
    }

    > p {
        margin: 0 0 3 0;
    }
}

#Damage_Button {
    border-color: red;
    background-color: gray;
    color: red;
    cursor: pointer;
}

#Healing_Button {
    border-color: skyblue;
    background-color: gray;
    color: skyblue;
    cursor: pointer;
}

.Ferocity-Increase-Button-Group {
    > input[type=button] {
        width: 40px;
        height: 32px;
        color: white;
        background-color: red;
        font-size: 20px;
        padding: 2 0 0 0;
        margin: 0 5 30 5;
    }
}

.Action-Block {
    cursor: pointer;
    border: 3px solid silver;
    padding: 2px;
    margin: 0 2 16 2;

    > p {
        margin-bottom: 5px;
        margin-top: 0;
    }
}

.Attack-Cost {
        color: red;
        position: relative;
        font-size: 24px;
        float: right;
        margin-right: 3px;
}